/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --color-accent: #ff0070;
  --color-decor: #ff0070;
  --color-accent-transparent: rgba(255, 0, 112, 0.4);
  --color-bg-main: #000028;
  --color-primary: #db00ff;
  --color-text-main: #f1b2ce;
  --color-text-secondary: #000028;
  --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__label {
  display: var(--rec-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #ff0070;
    --color-decor: #ff0070;
    --color-accent-transparent: rgba(255, 0, 112, 0.4);
    --color-bg-main: #000028;
    --color-primary: #db00ff;
    --color-text-main: #f1b2ce;
    --color-text-secondary: #000028;
    --bg-image: url("../images/cover-image-dark.png");
  }
}