/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-accent: #353430;
  --color-decor: #ff8dcb;
  --color-accent-transparent: rgba(50, 49, 45, 0.4);
  --color-bg-main: #fff1f7;
  --color-primary: #ffc2e6;
  --color-text-main: #353430;
  --color-text-secondary: #353430;
  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .header__label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-accent: #353430;
    --color-decor: #ff8dcb;
    --color-accent-transparent: rgba(50, 49, 45, 0.4);
    --color-bg-main: #fff1f7;
    --color-primary: #ffc2e6;
    --color-text-main: #353430;
    --color-text-secondary: #353430;
    --bg-image: url("../images/cover-image-light.png");
  }
  
  .theme-auto .header__label {
    display: none;
  }
}