:root {
  --color-accent: #ff0070;
  --color-decor: #ff0070;
  --color-accent-transparent: rgba(255, 0, 112, 0.4);
  --color-bg-main: #000028;
  --color-primary: #db00ff;
  --color-text-main: #f1b2ce;
  --color-text-secondary: #000028;
  --font-family-main: "IBM Plex Mono", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-base: 18px;
  --line-height-base: 1.3;
  --container-padding: 10px;
  --section-gap: 50px;
  --gap-items: 10px;
  --decor-corner-size: 25px;
  --decor-corner-offset: 10px;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-display: block;
}

@media (width >= 768px) {
  :root {
    --container-padding: 20px;
    --section-gap: 80px;
    --decor-corner-offset: 20px;
  }
}